*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-size: 14px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

h3{
    font-size: 22px;
    margin: 10px;
}

main div{
    margin: 30px 0 15px 0;
}

button{
    width: 90%;
    margin: 10px auto;
    border: 0px;
    border-radius: 8px;
    padding: 15px 0px;
    color: white;
    background-color: hsl(0, 0%, 20%);
}

button:hover{
    cursor: pointer;
    color: black;
    background-color: #C4F82A;
}

.green_text{
    color: #9BB824;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    margin: 15% auto;
    background-color: hsl(0, 0%, 12%);
}

img{
    margin: 25px;
    max-height: 7rem;
    border-radius: 100%;
}

/*Responsive*/

@media screen and (max-width: 380px) {

    .wrapper{ 
    width: 80%;
    margin: 30% 10%;
    padding: 0;
    }
    
}
