*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E0E0E;
    color: white;
    font-size: 14px;
    font-family: "Inter-variabiles", Arial, Helvetica, sans-serif;
}

h3{
    font-size: 22px;
    margin: 10px;
}

main div{
    margin: 30px 0 15px 0;
}

button{
    width: 90%;
    margin: 10px auto;
    border: 0px;
    border-radius: 8px;
    padding: 10px 0px;
    color: white;
    background-color: #333333;
}

.green_text{
    color: #9BB824;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 29%;
    margin: 20vh auto;
    background-color: #1F1F1F;
}

img{
    margin: 25px;
    max-height: 7rem;
    border-radius: 100%;
}

